<ion-header>
  <ion-toolbar>
    <ion-title>createPoll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="items-middle" text-center>
    <ion-item>
      <ion-label position="stacked">Stacked Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-icon item-left name="lock"></ion-icon>
      <ion-label color="ligh-grey" floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-buttons padding-top>
      <button ion-button full round>Login</button>
    </ion-buttons>-->
  </ion-list> 
</ion-content>
