<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addUser</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  
  <div class="centerlogin" >
    <ion-card>
      <ion-card-header>
  <form [formGroup]="addform"  (ngSubmit)="proceed()">
  
      <div class="title animate__animated animate__zoomIn">
        <h2>Register here</h2>
        <!-- <p>Wecome back, You've been missed!</p> -->
      </div>

      <ion-input placeholder="Username*" formControlName ="username" type ="text" class="primary-input animate__animated animate__flipInX"></ion-input>
      <ion-input placeholder="Email*" type ="email" formControlName ="email" class="primary-input animate__animated animate__flipInX"></ion-input>
      <ion-input placeholder="Password*" type="password" formControlName ="password" class="primary-input animate__animated animate__flipInX"></ion-input>
      <ion-item lines="none">
        <ion-checkbox slot="start" formControlName ="admin"></ion-checkbox>
        <ion-label>Admin</ion-label>
      </ion-item>
      <span class ="error" *ngIf ="errMSG !=''">{{errMSG}}</span>
      <div class="ion-margin-top">
        <ion-button expand="block"  type="submit" class="bg-class title animate__animated animate__zoomIn">Register</ion-button>
      </div>
     
      <div class="ion-margin-top ion-text-center">
        <a (click)="signUP()">Sign In </a>
      </div>
  
  </form>
</ion-card-header>
</ion-card>
</div>
</ion-content>
