.title {
    margin-bottom: 30px;
    text-align: center;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

.forget a {
    font-size: small !important;
}
ion-input{
    background-color: #374151;
    margin-bottom: 40px;
    border-radius: 5px;
}
.centerlogin{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
ion-item{
    --background:#333;
}

.bg-class{
    --background: linear-gradient(197deg, rgb(152 23 191) 0%, rgb(139 50 219) 13.5%, #3171e0 33.33%, rgb(99 39 129) 100%) !important;  
}
