

<ion-content>

  <ion-card mode="ios" *ngFor="let poll of polls;let i=index">
    <ion-card-header>
      <ion-card-title>{{poll.question}}</ion-card-title>
     <ion-card-subtitle>{{poll.totalVotes}} votes</ion-card-subtitle> 
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-radio-group>       -->
        <ion-item class="animate__animated animate__slideInLeft"  *ngFor="let option of poll.options;let j=index">
          <!-- <ion-radio slot="start" color="{{option.color}}"></ion-radio> -->
           <ion-label>{{option.choice}}
            <!-- <ion-progress-bar value="{{getValue(option.votes,poll.totalVotes)}}" color="{{option.color}}"></ion-progress-bar>  -->
            <ion-progress-bar [value]="option.percentage" color="{{option.color}}"></ion-progress-bar> 
           </ion-label>
           <ion-note *ngIf="option.percentage != 0">{{option.percentage*100  | number : '1.0-2'}}%</ion-note>
           <ion-note *ngIf="option.percentage == 0">0%</ion-note>
         </ion-item>
      <!-- </ion-radio-group> -->
    </ion-card-content>
  </ion-card>
  <p style="color: white;text-align: center;" class="animate__animated animate__shakeX">{{error}}</p>
 
</ion-content>
