<ion-header>

</ion-header>

<ion-content class="ion-padding">
  
  <div class="centerlogin">
    <ion-card>
      <ion-card-header>
    <div > <img src="assets/img/logo.png" alt="" srcset="" style="width: 30%;"> </div>
            <div class="title">
              <h2>Lets sign you in</h2>
              <p>Wecome back, You've been missed!</p>
            </div>

            <ion-input placeholder="Username" class="primary-input"></ion-input>
            <ion-input placeholder="Password" type="password" class="primary-input"></ion-input>

            <div class="ion-margin-top ion-text-right forget">
              <!-- <a>Forgot Password?</a> -->
            </div>

            <div class="ion-margin-top">
              <ion-button class="bg-class" expand="block" (click)="login()">Sign in</ion-button>
            </div>

            <div class="ion-margin-top ion-text-center">
              <!-- <a (click)="dismiss()">Close</a> -->
            </div>
          </ion-card-header>
        </ion-card>
          </div>
 
</ion-content>