<ion-content [fullscreen]="true">
<div *ngIf="polls.length==0">
  <p style="color: white;text-align: center;" class="animate__animated animate__shakeX">No records found!</p>
  </div>
  <ion-card style="--background: transparent !important;" >
    <ion-item  *ngFor="let poll of polls;let i=index" style="margin: 0 0 12px;border-radius: 10px;" class="animate__animated animate__flipInX">
   
    <!-- <ion-label> -->
    <div style="display: flex; flex-direction: column;padding: 10px 5px;">
   
      <div style="display: flex;font-size: 20px;">

        {{poll.poll['question']}}
      </div>
      <div style="flex-direction: column;margin-top: 10px;">
        <div *ngFor="let option of poll.pollAnswers;let j=index" class="answer">
          <div>{{j+1}}. {{option.optionName}} </div>
        </div>
      </div>
      <div style="display: flex; justify-content:space-between; align-items: center;">
        <div style="font: 12px;">by {{poll.name}}</div>
        <div>
          <ion-button size="small" slot="end" color="primary" (click)="approve(poll,i)" *ngIf ="!poll.poll.published">Publish</ion-button>
          <ion-button size="small" slot="end" color="success" (click)="unpublish(poll,i)" *ngIf ="poll.poll.published">Unpublish</ion-button>
        </div>
      </div>
    </div>

   
  </ion-item>
  
</ion-card>

</ion-content>