<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="polls.length==0">
    <h2 style="text-align:center;top:40%">No records found!</h2>
  </div>
  <div *ngIf="polls.length > 0">
    <ion-card mode="ios" *ngFor="let poll of polls;let i=index" class="animate__animated animate__fadeIn">
      <ion-card-header>    
        <ion-card-title>{{poll.poll.question}}</ion-card-title>  
        <ion-card-subtitle>{{poll.poll.totalVotes}} votes</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group>      
          <ion-item *ngFor="let option of poll.pollAnswers;let j=index" (click)="polling(option.pollAnswerId, option.pollId,i,j)">
            <ion-radio  [disabled]="checkVotedOrNot(poll.poll.pollId)"  slot="start" color="{{option.color}}"></ion-radio>
             <ion-label>{{j+1}} {{option.optionName}}
               <!-- <ion-progress-bar value="{{getValue(option.votes,poll.totalVotes)}}" color="{{option.color}}" *ngIf="alreadyVoted"></ion-progress-bar> -->
             </ion-label>
             <ion-note  *ngIf="checkIsVoted(poll.poll.pollId)" >{{getPercent(option.votes,poll.poll.totalVotes)}}</ion-note>
           </ion-item>
        </ion-radio-group>
        <ion-button [disabled]="checkVotedOrNot(poll.poll.pollId)" *ngIf="checkIsVoted(poll.poll.pollId)" (click)="Vote(poll.poll.pollId)"  style="width: 100%;">{{checkVotedOrNot(poll.poll.pollId)?"Voted":"Vote"}}</ion-button>
      
      </ion-card-content>
    </ion-card> 
  </div>
  
</ion-content>

