<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>    
     Poll question
    </ion-card-header>
    
    <ion-card-content>
      <ion-input placeholder="Enter your poll" class="custom"  [(ngModel)] ='question'></ion-input>
    </ion-card-content>


    <ion-card-header>    
      Option <span>Max 4</span>
     </ion-card-header>
     
     <ion-card-content>
      <div *ngFor="let poll of userOption;let i=index" class="add_more">
        <ion-input [placeholder]="poll.placeholder" (ionChange)="onInputChange($event,i)"  [(ngModel)] ="poll.optionValue"class="custom"></ion-input>
        <ion-icon *ngIf="poll.isDeleted" (click)="deleted(poll,i)" name="trash-outline"></ion-icon>
      </div>


      <div class="footerbtn">
      <ion-button (click)="addMore()">Add More</ion-button>
     
    </div>
      <!-- <div>
        <ion-input placeholder="Option 1" class="custom"></ion-input>
        <ion-icon name="trash-outline"></ion-icon>
      </div> -->
      <!-- <div>
        <ion-input placeholder="Option 1" class="custom"></ion-input>
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <div>
        <ion-input placeholder="Option 1" class="custom"></ion-input>
        <ion-icon name="trash-outline"></ion-icon>
      </div> -->
     </ion-card-content>
     

  </ion-card> 
  <br>
  <ion-button color="secondary" [disabled]="post()" expand="block" style="margin: 0 30px;">Post</ion-button>


 
</ion-content>
